* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: antiquewhite;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}
.input_section > h2 {
  text-align: center;
  color: rgb(27, 27, 25);
}
.input_section > a {
  width: 100px;
  text-align: center;
  color: rgb(241, 241, 231);
  transform: translateX(334px);
  text-decoration: none;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}
.input_section > form > .input > label {
  color: cornflowerblue;
  font-weight: bold;
}

.input_section > form > button {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  margin: 4px;
  transform: translateX(350px);
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 500px;
  background-color: rgb(27, 27, 25);
  color: rgb(255, 255, 255);
  padding: 16px;
}

#button-login {
  transform: translateX(342px);
}
