<%- include('./partials/head') %>
<center>
  <h1>Hello, <%= email %></h1>
  <p style="color: red"><%= error %></p>
  <div class="container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < data.length; i++) { %>
        <tr style="border: 1px solid black">
          <td><%= data[i].email %></td>
          <td><%= data[i].role %></td>
          <td>
            <a
              href="/users/admin/<%= data[i].id %>/delete"
              class="btn btn-outline-danger"
              >Delete</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <a href="/users/logout" class="btn btn-danger">Logout </a>
</center>
<%- include('./partials/footer') %>
