<%- include('./partials/head') %>
<main>
  <h1 class="text-center">Selamat Datang Silahkan Login</h1>
  <p style="color: red"><%= error %></p>
  <section class="input_section">
    <form id="login" method="post" action="/users/login">
      <div class="input">
        <label for="Email">Email</label>
        <input id="Email" type="text" name="email" required />
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required />
      </div>
      <button id="submit" type="submit">Login</button>
    </form>
    <a href="/users/register" class="btn btn-primary">Register</a>
  </section>
</main>
<%- include('./partials/footer') %>
