<%- include('./partials/head') %>

<main>
  <section class="input_section">
    <h2>Selamat Datang, Silahkan Register</h2>
    <p style="color: red"><%= errors %></p>
    <form id="register" method="post" action="/users/register">
      <div class="input">
        <label for="Email">Email</label>
        <input id="Email" type="text" name="email" required />
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required />
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="role"
          id="role"
          value="student"
        />
        <label class="form-check-label" for="role" required> Student </label>
      </div>
      <button id="submit" type="submit">Register</button>
    </form>
    <a id="button-login" href="/users/login" class="btn btn-primary">Login</a>
  </section>
</main>
<%- include('./partials/footer') %>
